services:
  postgres:
    image: postgres:latest
    container_name: BetterTapeBotDb
    environment:
      # any change in values also need to applied to the health check, BetterTapeBot container and other config files
      POSTGRES_DB: bettertapebot
      POSTGRES_USER: changeme_root
      POSTGRES_PASSWORD: changeme_root_password
      # credentials for migration user, can alter table
      MIGRATION_USER: changeme_migration_user
      MIGRATION_PASSWORD: changeme_migration_password
      # credentials for application user, can only access table data
      APP_USER: changeme_app_user
      APP_PASSWORD: changeme_app_password
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./init-users.sh:/docker-entrypoint-initdb.d/init-users.sh:ro
    networks:
      - betterTapeBotIntranet
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "changeme_root", "-d", "bettertapebot"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: BetterTapeBot
    image: ghcr.io/mathiassonderfeld/bettertapebot:latest
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_CONFIG_LOCATION: file:/config/application.yml
    volumes:
      - ./application.yml:/config/application.yml:ro
    networks:
      - betterTapeBotIntranet
      - internet

networks:
  betterTapeBotIntranet:
    driver: bridge
    internal: true

  internet:
    driver: bridge

volumes:
  postgres_data: