# docker-compose.yml
version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: BetterTapeBotDb
    environment:
      # any change in values also need to applied to the BetterTapeBot container and other config files
      POSTGRES_DB: bettertapebot
      POSTGRES_USER: changeme_root
      POSTGRES_PASSWORD: changeme_root_password
      # credentials for migration user, can alter table
      MIGRATION_USER: changeme_migration_user
      MIGRATION_PASSWORD: changeme_migration_password
      # credentials for application user, can only access table data
      APP_USER: changeme_app_user
      APP_PASSWORD: changeme_app_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-users.sh:/docker-entrypoint-initdb.d/init-users.sh:ro
    networks:
      - betterTapeBotIntranet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: BetterTapeBot
    image: ghcr.io/mathiassonderfeld/bettertapebot:latest
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      BETTER-TAPE-BOT_TELEGRAM_TOKEN: changeme_token
    networks:
      - betterTapeBotIntranet
      - internet

networks:
  betterTapeBotIntranet:
    driver: bridge
    internal: true

  internet:
    driver: bridge

volumes:
  postgres_data: